{% extends "layout.html" %}
{% block title %} Reviews{% endblock %}
{% block page %} Reviews{% endblock %}

{{ super() }}

{% block content %}
  <div class="container">
    <div class="row">
      <form class="col s12 m8 offset-m2 card-panel" method="POST" action="/createStudent">
            
            {{ form.csrf_token }}

            <div class="input-field col s12 m8 offset-m2"> 
                {{ form.id(size=200, class="validate materialize-textarea") }}
                {{ form.id.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.firstName(size=200, class="validate materialize-textarea") }}
              {{ form.firstName.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2"> 
                {{ form.lastName(size=200, class="validate materialize-textarea") }}
                {{ form.lastName.label }}
              </div>

            <div class="input-field col s12 m8 offset-m2">
              {{form.submit}}
            </div> 
        </form>
    </div>
    <div class="row">
      <table>
        <thead>
          <tr>
            <td>ID</td><td>First Name</td><td>Last Name</td>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
            <tr>
              <td>{{student.id}}</td>
              <td>
                {{student.firstName}}
              </td>
              <td>
                {{student.lastName}}
              </td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>
  </div>
        
  </div>

{% endblock %}