{% extends "signupAndLoginLayout.html" %}
{% block title %}Login{% endblock %}
{% block page %}Login{% endblock %}

{{ super() }}

{% block content %}
   <div class="row">
      
        <form class="col s12 m8 offset-m2" method="POST" action="/auth">
            {{ form.csrf_token }}

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.username(size=20, class="validate") }}
              {{ form.username.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
              {{ form.password(size=20, class="validate") }}
              {{ form.password.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
              {{form.submit}}
              <div class="btn waves-effect waves-light white-text waves-input-wrapper">
                <a href="/signup" style="color:black">Sign Up</a>
                </div>
            </div> 
          
        </form>
      
  </div>
{% endblock %}