{% extends "layout.html" %}
{% block title %}Students{% endblock %}
{% block page %}Students{% endblock %}

{{ super() }}

{% block content %}

<label for="currentlyLoggedIn">Logged in As: {{user.username}}</label>

{% if user.access == 2 %}
  <div style="border-style:solid; border-width: 6px; color:darkcyan; margin-top: 50px; margin-bottom: 75px; padding-left: 20px; padding-right: 20px;">
    <div class="row" style="width: 890px;">

      <form class="col s12" method="POST" action="/api/students">

        <div class = "row">
          <h5 style="align-items: center;">Add a Student</h5>
        </div>
          
        <div class="row">
          <div class="reviewContents">
            <label for="studentFirstName">First Name</label>
            <input id="studentFirstName" name="studentFirstName"/>
          </div>
        </div>

        <div class="row">
            <div class="student">
              <label for="studentLastName">Last Name</label>
              <input id="studentLasttName" name="studentLastName" />
            </div>
        </div>
          
        <div class="row">
          <div class="reviewContents">
            <label for="studentFaculty">Faculty</label>
            <input id="studentFaculty" name="studentFaculty"/>
          </div>
        </div>

        <div class="row">
          <div class="reviewContents">
            <label for="studentProgramme">Programme</label>
            <input id="studentProgramme" name="studentProgramme"/>
            <input type="submit" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </div>

{% endif %}


<div class="row">
    <table>
        <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>Faculty</th>
          <th>Programme</th>
          <th>Karma</th>
          <th>Delete</th>
        </tr>
      {% for student in students %}
        <tr>
          <td>{{student.id}}</td>
          <td>{{student.name}}</td>
          <td>{{student.faculty}}</td>
          <td>{{student.programme}}</td>
          <td>{{student.get_karma()}}</td>
          <td> <a href="/delete/id" class="delete">Delete</a> </td>
        </tr>
      {% endfor %} 
      </table> 
  </div>



  <style>
    #card{
      margin-left: auto;
      margin-right: auto; 
    }
    .row label{
      color: black;
    }
    .row input{
      color: black;
    }

    select{
      display: block;
    }

    h5 {
      text-align: center;
    }

    .delete{
        color:red;
    }
    

  </style>


{% endblock %}