{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block page %}Users{% endblock %}

{{ super() }}

{% block content %}

<label for="currentlyLoggedIn">Logged in As: {{user.username}} </label>

<div class="row">
    <table>
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>Delete</th>
        </tr>
        <tr>
          <td>12345</td>
          <td>Raul</td>
          <td>Goindhan</td>
          <td>raul@test.com</td>
          <td> <a href="/delete/id" class="delete">Delete</a> </td>
        </tr>
        
      </table> 
  </div>



  <style>
    #card{
      margin-left: auto;
      margin-right: auto; 
    }
    .row label{
      color: black;
    }
    .row input{
      color: black;
    }

    select{
      display: block;
    }

    h5 {
      text-align: center;
    }

    .delete{
        color:red;
    }
    

  </style>


{% endblock %}