{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block page %}Users{% endblock %}

{{ super() }}

{% block content %}

<label for="currentlyLoggedIn">Logged in As: {{current_user.username}} </label>

<div class="row">
    <table>
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>Delete</th>
        </tr>
      {% for user in users %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          {% if current_user.access == 2 %}
            <td> <a href="/api/users/delete/{{user.id}}" class="delete">Delete</a> </td>
          {% endif%}
        </tr>
      {% endfor %}   
      </table> 
  </div>



  <style>
    #card{
      margin-left: auto;
      margin-right: auto; 
    }
    .row label{
      color: black;
    }
    .row input{
      color: black;
    }

    select{
      display: block;
    }

    h5 {
      text-align: center;
    }

    .delete{
        color:red;
    }
    

  </style>


{% endblock %}